.main {
  background: #ecf8f8;
}

.Sidebar {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #eee4e1;
  font-size: 20px;
}

li,
#Exit {
  float: left;
}

#AuthPage {
  float: right;
}

li a,
#Exit {
  display: block;
  color: rgb(54, 54, 54);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover,
#Exit:hover {
  cursor: pointer;
  background-color: #e6beae;
}

.ExitButton {
  width: 115px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: rgb(54, 54, 54);
  outline: none;
  font-size: 20px;
  border: 1px solid #b2967d;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  font-family: "Montserrat Alternates", sans-serif;
}

li button:hover {
  background-color: #e6beae;
}

.ExitButton:hover {
  background: #f8f3f2;
  border-radius: 5px;
}

.PageTitle {
  padding: 38px 20px 0 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(54, 54, 54);
}

.Content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(54, 54, 54);
}

.Text {
  padding: 18px 20px;
  line-height: 150%;
  margin: 20px;
  font-size: 28px;
  border-radius: 5px;
  text-align: justify;
  background: #ede0d4;
  font-family: "Montserrat Alternates", sans-serif;
  flex: 1;
}

.AdvantagesTitle {
  font-weight: bold;
  font-size: 28px;
  text-align: justify;
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 3px;
}

.SvgBox {
  width: 2em;
  height: 2em;
}

.AdvantageImage {
  padding: 18px 0;
  width: 2em;
  height: 2em;
}

.Advantages {
  padding: 18px 20px;
  margin: 20px;
  font-size: 28px;
  border-radius: 5px;
  text-align: justify;
  background: #ede0d4;
  font-family: "Montserrat Alternates", sans-serif;
  flex: 2;
}

.Advantage {
  display: flex;
}

.AdvantageText {
  padding: 18px 20px;
  margin: 10px;
  font-size: 28px;
  border-radius: 5px;
  text-align: justify;
  background: #ede0d4;
  font-family: "Montserrat Alternates", sans-serif;
}

.block {
  max-width: 550px;
  padding: 18px;
  margin: 40px;
  text-align: justify;
  border-radius: 5px;
  background: #ede0d4;
  font-size: 20px;
  color: rgb(54, 54, 54);
  font-family: "Montserrat Alternates", sans-serif;
}

.TextBlock {
  height: 150px;
  padding-left: 200px;
}

.LeftBlock {
  float: left;
}

.RightBlock {
  float: right;
}

.UserNameText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: rgb(54, 54, 54);
  outline: none;
  font-size: 16px;
  margin: 10px;
}

@media (max-width: 768px) {
  .TopMenu {
    height: 50px;
  }

  ul #StartPage,
  ul #TasksPage,
  ul #HelpPage,
  ul #Exit {
    display: none;
  }

  #StartPageSide,
  #TasksPageSide,
  #HelpPageSide,
  #AuthPageSide {
    display: none;
    width: 50vw;
  }

  li a,
  #Exit {
    text-align: left;
    font-weight: bold;
  }

  .Sidebar {
    display: block;
    position: absolute;
    top: 0;
    background: #eee4e1;
    width: 50vw;
  }

  .OpenClose {
    margin: 18px;
  }

  .OpenClose:checked ~ #StartPageSide,
  .OpenClose:checked ~ #TasksPageSide,
  .OpenClose:checked ~ #HelpPageSide,
  .OpenClose:checked ~ #AuthPageSide {
    display: block;
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    margin: 0;
    padding: 0 0 -4px 0;
  }

  input[type="checkbox"] + label {
    background-image: url(../img/menu.svg);
    height: 30px;
    width: 30px;
    display: block;
    margin: 10px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + label {
    background-image: url(../img/cross.svg);
    height: 30px;
    width: 30px;
    display: block;
    margin: 10px;
    cursor: pointer;
  }

  .SvgBox {
    display: none;
  }

  .AdvantageImage {
    display: none;
  }

  .AdvantagesTitle {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    font-family: "Montserrat Alternates", sans-serif;
    margin-top: 3px;
  }

  .AdvantageText {
    padding: 18px 0 18px 0;
    margin: 10px 0 10px 0;
    font-size: 20px;
    border-radius: 5px;
    text-align: justify;
    background: #ede0d4;
    font-family: "Montserrat Alternates", sans-serif;
  }

  .Text {
    padding: 18px 20px;
    line-height: 150%;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
    text-align: justify;
    background: #ede0d4;
    font-family: "Montserrat Alternates", sans-serif;
    flex: 1;
  }
}
